h1, div {
  font-family: Helvetica;
  font-size: 15px;
  padding-bottom: 10px;
}

.notification .icon {
  float:left;
  padding: 5px 10px 5px 10px;
}

.notification h1 {
  color: #002c00;
  padding-bottom: 5px;
}

.notification .time_left {
  color: #004d27;
}

.options .title {
  border-bottom: 1px solid #ddd;
}

.options .status {
  text-align: center;
  color: #999;
}

.options .bottom {
  position: absolute;
  bottom: 10px;
}

.options .advanced_info {
  color: #ddd;
}

.options .advanced_info:hover {
  color: #000;
}
